<!DOCTYPE html>
<html class="dark" lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common-fragments :: head('The Sonic Curator - Artists')}"></head>
<body class="bg-background text-on-background antialiased overflow-x-hidden">
<aside th:replace="~{fragments/common-fragments :: sidebar('artists')}"></aside>
<header th:replace="~{fragments/common-fragments :: topbar}"></header>
<main th:replace="~{fragments/artist-main :: artistMain}"></main>
<button th:replace="~{fragments/common-fragments :: broadcastAction}"></button>
</body>
</html>

